.footer__contacts
  lg-block({
    text-align: center
  })
  md-block({
    margin: 2rem 0
  })
  .footer__contacts-text
    font-family: "Gilroy ExtraBold"
    font-size: rem(46px)
    font-weight: 400
    letter-spacing: 0.02px
    md-block({
      text-align: center
      font-size: rem(24px)
    })
  .footer__contacts-messengers
    text-align: right
    lg-block({
      text-align: center
    })
    md-block({
      margin-top: 1.2rem
      text-align: center
    })
    .phone
      md-block({
        margin-bottom: 1rem
        display: block
      })
      a
        font-size: rem(50px)
        font-weight: 400
        color #2c2c2e;
        md-block({
          text-align: center
          font-size: rem(24px)
        })
    .email
      display: inline-block
      vertical-align: middle
      sm-block({
        margin-bottom: 1.2rem
      })
      a
        color #2c2c2e;
        font-size: rem(18px)
        font-weight: 600
        &:hover {
          color: #00c1a7
          text-decoration: underline
        }
    .f__icons
      text-align: right
      display: inline-block
      margin-left: 2rem
      sm-block({
        text-align: center
        margin: 0
        display: block
      })
      a + a
        margin-left: 0.5rem
        md-block({
          margin-left: 1.2rem
        })
    .icon
      fill #00c1a7
      vertical-align: middle
      &:hover
        fill #2c2c2e;
    .viber
      width: 24px
      height: 27px
    .telegram, .whatsapp
      width: 30px
      height: 23px
    .skype, .insta
      width: 22px
      height: 22px
    .facebook
      width: 11px
      height: 21px
    .vk
      width: 26px
      height: 15px
