.order__service-form, .contact__form
  position: relative
  row-flex()
  .wrap
    background-image: url("../img/form-bg.jpg")
    background-repeat no-repeat
    padding 60px 0 40px 32px
    row-flex()
    col()
    size(12)
    size-md(12)
    md-block({
      text-align: center
      padding: 1rem
      background-size: cover
    })
    .desc
      color: #ffffff
      font-size: rem(13px)
      z-index 100;
      col()
      size(6)
      size-md(12)
      .as__h1
        color: #ffffff
        margin-top: 0
        margin-bottom: .5rem
        md-block({
          margin-top: 1rem
          font-size: rem(28px)
        })
      p
        md-block({
          text-align: center
        })
    .form__box
      flex-grow 1
      col()
      size(6)
      size-md(12)
.order__service-form
  .wrap
    position: relative;
    md-block({
      background-size: cover
    })
    &:before {
      content "";
      position: absolute;
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-color: rgba(0,0,0,.2)
      z-index 0
      md-block({
        background-color: rgba(0,0,0,.3)
      })
    }
.popup
  .order__service-form
    .wrap
      .desc
        .as__h1
          sm-block({
            margin-top: 0
          })
        p
          sm-block({
            display: none
          })
