.services_list-box
  margin: 0
  .as__h1 {
    margin: 1.5rem 0 2rem 0
    md-block({
        margin: 1.5rem 0 1rem 0
      })
  }
  .list__items
    &-item4
      position: relative
      border: 1px solid #f1f1f1
      border-radius 5px
      box-shadow 0 4px 6px rgba(0,0,0,.1)
      text-align: center
      transition: all 300ms ease
      margin-bottom: 2rem
      display: flex
      align-items stretch
      flex-direction column
      .title
        padding 1rem 1.4rem
        color #2c2c2e
        font-family: "Gilroy ExtraBold"
        font-size: rem(18px)
        letter-spacing: 0.01px
        &:hover {
          text-decoration underline
          color: #00c1a7
        }
        md-block({
          font-size: rem(16px)
          margin: .5rem 0 .5rem 0
        })
      .body {
        padding 1rem 1.4rem;
        p, ul, ol {
          margin: auto 0 0 0
          font-size: rem(12px)
          text-align: center
        }
      }
      .btn-box {
        padding 1rem 1.4rem
        margin auto 0 1rem 0
      }
      .price
        font-family: "Gilroy ExtraBold";
        padding 1rem 1.4rem
        font-size: rem(18px)
        background-color: rgba(0, 193, 167, 0.3)
        span {
          font-size rem(26px)
        }
        sm-block({
          margin-top: 0
        })
