.we__work
  text-align: center
  margin 1rem 0
  padding 1rem 0
  md-block({
    padding: 1rem .5rem
  })
  .as__h1
    margin-bottom: 0
  &-list
    row-flex()
    align-items: center
    justify-content center
    .we__work-list-item
      margin-bottom: 1rem
      col()
      size(2)
      size-md(3)
