.portfolio
  margin: 0
  color #ffffff
  padding 2rem 0 4rem 0
  background-image: linear-gradient(180deg, #2a6ba8 0%, #00346e 56%, #00153f 100%)
  overflow hidden
  md-block({
    padding: 2rem .5rem
  })
  .bg__box-section
    z-index 0
    position: absolute
    width: 98%
    height: auto
    bottom: 18%
    top: 20%
    background: url("../img/pattern_p.png") repeat
  .as__h1
    color #ffffff
    margin-bottom: 0
  .btn__more
    text-align: center
    display: block
    margin 4rem 0 0
    .btn {
      margin 0
    }
    md-block({
      margin: 0
    })
.portfolio__list
  .portfolio__list-item
    padding 0 1.5rem 0 0
    row-flex()
    margin-bottom: 2rem
    margin-top: 3rem
    position: relative
    md-block({
      padding: 0 1.5rem
      margin-top: 0
    })
    .bg__item
      box-shadow 0 4px 6px rgba(0,0,0,.1)
      position: absolute
      top: 0
      right: 1%
      bottom: 0
      left: 1%
      background-color: #27292e
      &.peach
        background-color: #edce92
      &.grey
        background-color: #d4d4d4
      &.navy__blue
        background-color: #002132
      &.navy__grey
        background-color: #3f505f
      &.blue
        background-color: #007ec4
    .image__preview
      align-self stretch
      position: relative
      size(8)
      md-block({
        display: none
      })
      col()
      img
        position: absolute
        top: 0
        left: 0
        height: 100%
        bottom: 0
        md('position', 'relative')
        md-block({
          left: unset
          top: unset
          bottom: unset
          height: auto
        })
    .body
      z-index: 10
      col()
      size(4)
      size-md(12)
      .bg__box
        margin 1.5rem 0
        padding 1.5rem
        background-color: rgba(0,0,0,0.3)
      .name
        font-family: "Gilroy ExtraBold"
        a
          color #ffffff
          text-decoration none
          font-size: rem(20px)
          font-weight: 400
          letter-spacing: 0.01px
          &:hover
            text-decoration underline
      .desc
        font-size: rem(13px)
        font-weight: 400
        margin 1rem 0 1rem 0
        color #ffffff
        ul
          li
            padding: 0
            margin: 0
            font-size rem(14px)
            line-height 18px
            &:before
              content " - "
              background: none
              position: relative
              left unset
              top unset
      .link__more
        .link__more-icon
          col()
          size(2)
          .link
            height: 20px
            width: 20px
            fill: #ffffff
            font-size rem(12px)
            &:hover
              cursor: pointer
              fill: #00c1a7
.link__more
  margin-top 2rem
  row-flex()
  .link__more-text
    col()
    size(10)
    a
      color #ffffff
      font-size: rem(12px)
      text-transform: uppercase
      position: relative
      text-decoration none
      padding: 8px 64px 8px 26px
