/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$agree_ckeck_name = 'agree_ckeck';
$agree_ckeck_x = 130px;
$agree_ckeck_y = 46px;
$agree_ckeck_offset_x = -130px;
$agree_ckeck_offset_y = -46px;
$agree_ckeck_width = 13px;
$agree_ckeck_height = 13px;
$agree_ckeck_total_width = 154px;
$agree_ckeck_total_height = 140px;
$agree_ckeck_image = 'sprite.png';
$agree_ckeck = 130px 46px -130px -46px 13px 13px 154px 140px 'sprite.png' 'agree_ckeck';
$agree_unckeck_name = 'agree_unckeck';
$agree_unckeck_x = 34px;
$agree_unckeck_y = 99px;
$agree_unckeck_offset_x = -34px;
$agree_unckeck_offset_y = -99px;
$agree_unckeck_width = 13px;
$agree_unckeck_height = 13px;
$agree_unckeck_total_width = 154px;
$agree_unckeck_total_height = 140px;
$agree_unckeck_image = 'sprite.png';
$agree_unckeck = 34px 99px -34px -99px 13px 13px 154px 140px 'sprite.png' 'agree_unckeck';
$arrow_more_green_name = 'arrow_more_green';
$arrow_more_green_x = 60px;
$arrow_more_green_y = 77px;
$arrow_more_green_offset_x = -60px;
$arrow_more_green_offset_y = -77px;
$arrow_more_green_width = 12px;
$arrow_more_green_height = 11px;
$arrow_more_green_total_width = 154px;
$arrow_more_green_total_height = 140px;
$arrow_more_green_image = 'sprite.png';
$arrow_more_green = 60px 77px -60px -77px 12px 11px 154px 140px 'sprite.png' 'arrow_more_green';
$arrow_more_white_name = 'arrow_more_white';
$arrow_more_white_x = 82px;
$arrow_more_white_y = 77px;
$arrow_more_white_offset_x = -82px;
$arrow_more_white_offset_y = -77px;
$arrow_more_white_width = 12px;
$arrow_more_white_height = 11px;
$arrow_more_white_total_width = 154px;
$arrow_more_white_total_height = 140px;
$arrow_more_white_image = 'sprite.png';
$arrow_more_white = 82px 77px -82px -77px 12px 11px 154px 140px 'sprite.png' 'arrow_more_white';
$arrow_project_active_name = 'arrow_project-active';
$arrow_project_active_x = 0px;
$arrow_project_active_y = 0px;
$arrow_project_active_offset_x = 0px;
$arrow_project_active_offset_y = 0px;
$arrow_project_active_width = 72px;
$arrow_project_active_height = 36px;
$arrow_project_active_total_width = 154px;
$arrow_project_active_total_height = 140px;
$arrow_project_active_image = 'sprite.png';
$arrow_project_active = 0px 0px 0px 0px 72px 36px 154px 140px 'sprite.png' 'arrow_project-active';
$arrow_project_name = 'arrow_project';
$arrow_project_x = 82px;
$arrow_project_y = 0px;
$arrow_project_offset_x = -82px;
$arrow_project_offset_y = 0px;
$arrow_project_width = 72px;
$arrow_project_height = 36px;
$arrow_project_total_width = 154px;
$arrow_project_total_height = 140px;
$arrow_project_image = 'sprite.png';
$arrow_project = 82px 0px -82px 0px 72px 36px 154px 140px 'sprite.png' 'arrow_project';
$arrow_project_mob_name = 'arrow_project_mob';
$arrow_project_mob_x = 60px;
$arrow_project_mob_y = 46px;
$arrow_project_mob_offset_x = -60px;
$arrow_project_mob_offset_y = -46px;
$arrow_project_mob_width = 29px;
$arrow_project_mob_height = 21px;
$arrow_project_mob_total_width = 154px;
$arrow_project_mob_total_height = 140px;
$arrow_project_mob_image = 'sprite.png';
$arrow_project_mob = 60px 46px -60px -46px 29px 21px 154px 140px 'sprite.png' 'arrow_project_mob';
$btn_arrow_right_black_name = 'btn_arrow-right-black';
$btn_arrow_right_black_x = 0px;
$btn_arrow_right_black_y = 133px;
$btn_arrow_right_black_offset_x = 0px;
$btn_arrow_right_black_offset_y = -133px;
$btn_arrow_right_black_width = 4px;
$btn_arrow_right_black_height = 7px;
$btn_arrow_right_black_total_width = 154px;
$btn_arrow_right_black_total_height = 140px;
$btn_arrow_right_black_image = 'sprite.png';
$btn_arrow_right_black = 0px 133px 0px -133px 4px 7px 154px 140px 'sprite.png' 'btn_arrow-right-black';
$btn_arrow_right_name = 'btn_arrow-right';
$btn_arrow_right_x = 148px;
$btn_arrow_right_y = 77px;
$btn_arrow_right_offset_x = -148px;
$btn_arrow_right_offset_y = -77px;
$btn_arrow_right_width = 5px;
$btn_arrow_right_height = 7px;
$btn_arrow_right_total_width = 154px;
$btn_arrow_right_total_height = 140px;
$btn_arrow_right_image = 'sprite.png';
$btn_arrow_right = 148px 77px -148px -77px 5px 7px 154px 140px 'sprite.png' 'btn_arrow-right';
$check_name = 'check';
$check_x = 0px;
$check_y = 99px;
$check_offset_x = 0px;
$check_offset_y = -99px;
$check_width = 24px;
$check_height = 24px;
$check_total_width = 154px;
$check_total_height = 140px;
$check_image = 'sprite.png';
$check = 0px 99px 0px -99px 24px 24px 154px 140px 'sprite.png' 'check';
$ellips_green_name = 'ellips_green';
$ellips_green_x = 14px;
$ellips_green_y = 133px;
$ellips_green_offset_x = -14px;
$ellips_green_offset_y = -133px;
$ellips_green_width = 5px;
$ellips_green_height = 5px;
$ellips_green_total_width = 154px;
$ellips_green_total_height = 140px;
$ellips_green_image = 'sprite.png';
$ellips_green = 14px 133px -14px -133px 5px 5px 154px 140px 'sprite.png' 'ellips_green';
$ellips_orange_name = 'ellips_orange';
$ellips_orange_x = 29px;
$ellips_orange_y = 133px;
$ellips_orange_offset_x = -29px;
$ellips_orange_offset_y = -133px;
$ellips_orange_width = 5px;
$ellips_orange_height = 5px;
$ellips_orange_total_width = 154px;
$ellips_orange_total_height = 140px;
$ellips_orange_image = 'sprite.png';
$ellips_orange = 29px 133px -29px -133px 5px 5px 154px 140px 'sprite.png' 'ellips_orange';
$ellips_violette_name = 'ellips_violette';
$ellips_violette_x = 44px;
$ellips_violette_y = 133px;
$ellips_violette_offset_x = -44px;
$ellips_violette_offset_y = -133px;
$ellips_violette_width = 5px;
$ellips_violette_height = 5px;
$ellips_violette_total_width = 154px;
$ellips_violette_total_height = 140px;
$ellips_violette_image = 'sprite.png';
$ellips_violette = 44px 133px -44px -133px 5px 5px 154px 140px 'sprite.png' 'ellips_violette';
$not_found_arrow_active_name = 'not_found_arrow_active';
$not_found_arrow_active_x = 104px;
$not_found_arrow_active_y = 77px;
$not_found_arrow_active_offset_x = -104px;
$not_found_arrow_active_offset_y = -77px;
$not_found_arrow_active_width = 12px;
$not_found_arrow_active_height = 11px;
$not_found_arrow_active_total_width = 154px;
$not_found_arrow_active_total_height = 140px;
$not_found_arrow_active_image = 'sprite.png';
$not_found_arrow_active = 104px 77px -104px -77px 12px 11px 154px 140px 'sprite.png' 'not_found_arrow_active';
$pattern_name = 'pattern';
$pattern_x = 0px;
$pattern_y = 46px;
$pattern_offset_x = 0px;
$pattern_offset_y = -46px;
$pattern_width = 50px;
$pattern_height = 43px;
$pattern_total_width = 154px;
$pattern_total_height = 140px;
$pattern_image = 'sprite.png';
$pattern = 0px 46px 0px -46px 50px 43px 154px 140px 'sprite.png' 'pattern';
$rectangle__down_green_name = 'rectangle__down_green';
$rectangle__down_green_x = 57px;
$rectangle__down_green_y = 99px;
$rectangle__down_green_offset_x = -57px;
$rectangle__down_green_offset_y = -99px;
$rectangle__down_green_width = 8px;
$rectangle__down_green_height = 4px;
$rectangle__down_green_total_width = 154px;
$rectangle__down_green_total_height = 140px;
$rectangle__down_green_image = 'sprite.png';
$rectangle__down_green = 57px 99px -57px -99px 8px 4px 154px 140px 'sprite.png' 'rectangle__down_green';
$rectangle_down_black_name = 'rectangle_down_black';
$rectangle_down_black_x = 75px;
$rectangle_down_black_y = 99px;
$rectangle_down_black_offset_x = -75px;
$rectangle_down_black_offset_y = -99px;
$rectangle_down_black_width = 8px;
$rectangle_down_black_height = 4px;
$rectangle_down_black_total_width = 154px;
$rectangle_down_black_total_height = 140px;
$rectangle_down_black_image = 'sprite.png';
$rectangle_down_black = 75px 99px -75px -99px 8px 4px 154px 140px 'sprite.png' 'rectangle_down_black';
$select_arrow_name = 'select_arrow';
$select_arrow_x = 93px;
$select_arrow_y = 99px;
$select_arrow_offset_x = -93px;
$select_arrow_offset_y = -99px;
$select_arrow_width = 8px;
$select_arrow_height = 4px;
$select_arrow_total_width = 154px;
$select_arrow_total_height = 140px;
$select_arrow_image = 'sprite.png';
$select_arrow = 93px 99px -93px -99px 8px 4px 154px 140px 'sprite.png' 'select_arrow';
$service_arrow_name = 'service_arrow';
$service_arrow_x = 126px;
$service_arrow_y = 77px;
$service_arrow_offset_x = -126px;
$service_arrow_offset_y = -77px;
$service_arrow_width = 12px;
$service_arrow_height = 11px;
$service_arrow_total_width = 154px;
$service_arrow_total_height = 140px;
$service_arrow_image = 'sprite.png';
$service_arrow = 126px 77px -126px -77px 12px 11px 154px 140px 'sprite.png' 'service_arrow';
$triangle_black_name = 'triangle_black';
$triangle_black_x = 99px;
$triangle_black_y = 46px;
$triangle_black_offset_x = -99px;
$triangle_black_offset_y = -46px;
$triangle_black_width = 21px;
$triangle_black_height = 14px;
$triangle_black_total_width = 154px;
$triangle_black_total_height = 140px;
$triangle_black_image = 'sprite.png';
$triangle_black = 99px 46px -99px -46px 21px 14px 154px 140px 'sprite.png' 'triangle_black';
$spritesheet_width = 154px;
$spritesheet_height = 140px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $agree_ckeck $agree_unckeck $arrow_more_green $arrow_more_white $arrow_project_active $arrow_project $arrow_project_mob $btn_arrow_right_black $btn_arrow_right $check $ellips_green $ellips_orange $ellips_violette $not_found_arrow_active $pattern $rectangle__down_green $rectangle_down_black $select_arrow $service_arrow $triangle_black;
$spritesheet = 154px 140px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url('../img/' + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS tremplate
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
